@media (max-width: 1024px) {
  body {
    max-width: 1024px;
  }
}

@media (max-width: 992px) {
  body {
    max-width: 992px;
  }

  .header__sub.descr {
    width: 55%;
  }

  .header__sub.min-sub {
    width: 70%;
  }

  .meet__pic.meet__pic--2,
  .meet__pic.meet__pic--3 {
    display: none;
  }
}

@media (max-width: 768px) {
  body {
    max-width: 768px;
  }

  section.section-work {
    margin-bottom: 115px;
  }

  .main div.container,
  .section-work div.container {
    padding-top: 60px;
  }

  .main div.container {
    flex-direction: column;
  }

  div.main-min {
    margin-bottom: 30px;
  }

  p.main__descr {
    width: 100%;
  }

  p.main-min__p {
    width: 300px;
  }

 .section-work .container {
    flex-direction: column-reverse;
  }

  div.work__txt {
    width: 100%;
  }

  p.sub__work {
    width: 100%;
  }

  p.members__sub {
    padding-top: 85px;
  }

  ul.members__list {
    width: 100%;
  }

  p.article__sub {
    width: 100%;
  }

  article.article:last-of-type {
    margin-bottom: 110px;
    padding-top: 0; /* ??? */
    min-height: 50rem;
    background-position: bottom 1px right 40px;
  }

  .article:nth-of-type(2) {
    margin-bottom: 104px;
    padding-top: 75px;
  }

  .article__title.insurers__title {
    padding-top: 52px;
  }

  div.part-3 {
    padding-top: 110px;
  }

  .figure {
    margin-bottom: 85px;
  }

  .section-meet div.container {
    padding-top: 60px;
    flex-direction: column;
    min-height: 60rem;
  }

  div.meet {
    width: 100%;
  }

  .meet__pic.meet__pic--1 {
    top: 40px;
  }

  .meet__pic.meet__pic--2,
  .meet__pic.meet__pic--3 {
    display: block;
    right: 40px;
  }

  div.meet__about {
    padding-top: 40px;
    width: 100%;
  }

  input[type="email"] {
    margin-bottom: 15px;
  }

  footer {
    max-width: 768px;
  }

  .footer__content {
    width: 40%;
  }

  .footer__content:not(:nth-last-of-type(-n+2)) {
    margin-bottom: 30px;
  }

  div.footer__content:not(:last-of-type) {
    margin-right: 0;
  }

  .footer__info {
    flex-wrap: wrap;
  }

  .footer__title {
    border-bottom: 1px solid var(--basic-color);
  }
}