/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width: 1024px) {
  body {
    max-width: 1024px;
    background-image: url('../img/1024-header.webp');
  }
}

@media (max-width: 992px) {
  body {
    max-width: 992px;
  }

  .header__sub.descr {
    width: 55%;
  }

  .header__sub.min-sub {
    width: 70%;
  }

  .section-work__img {
    width: 386px;
    height: 424px;
  }

  .meet__pic.meet__pic--2,
  .meet__pic.meet__pic--3 {
    display: none;
  }
}

@media (max-width: 768px) {
  body {
    max-width: 768px;
    background-image: url('../img/768-header.webp');
  }

  section.section-work {
    margin-bottom: 115px;
  }

  .main div.container,
  .section-work div.container {
    padding-top: 60px;
  }

  .main div.container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  div.main-min {
    margin-bottom: 30px;
  }

  p.main__descr {
    width: 100%;
  }

  p.main-min__p {
    width: 300px;
  }

 .section-work .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  div.section-work__txt {
    width: 100%;
  }

  p.section-work__sub {
    width: 100%;
  }

  figure.figure {
    width: 100%;
  }

  p.section-members__sub {
    padding-top: 85px;
  }

  ul.section-members__list {
    width: 100%;
  }

  p.article__sub {
    width: 100%;
  }

  article.article:last-of-type {
    margin-bottom: 110px;
    padding-top: 0; /* ??? */
    min-height: 50rem;
    background-position: bottom 1px right 40px;
  }

  .article:nth-of-type(2) {
    margin-bottom: 104px;
    padding-top: 75px;
  }

  .article__title.part-2__insurers-title {
    padding-top: 52px;
  }

  div.part-3 {
    padding-top: 110px;
  }

  .figure {
    margin-bottom: 85px;
  }

  .section-meet div.container {
    padding-top: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 60rem;
  }

  div.meet {
    width: 100%;
  }

  .meet__pic.meet__pic--1 {
    top: 40px;
  }

  .meet__pic.meet__pic--2,
  .meet__pic.meet__pic--3 {
    display: block;
    right: 40px;
  }

  div.section-meet__about {
    padding-top: 40px;
    width: 100%;
  }

  input[type="email"] {
    margin-bottom: 15px;
  }

  .section-meet__link.main-btn {
    margin-bottom: 60px;
  }

  footer {
    max-width: 768px;
  }

  .footer__content {
    width: 40%;
  }

  .footer__content:not(:nth-last-of-type(-n+2)) {
    margin-bottom: 30px;
  }

  div.footer__content:not(:last-of-type) {
    margin-right: 0;
  }

  .footer__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__title {
    border-bottom: 1px solid var(--basic-color);
  }
}

@media (max-width: 658px) {
  body {
   max-width: 658px; 
  }

  .header__sub.descr {
    width: 60%;
  }
}

@media (max-width: 600px) {
  body {
    max-width: 600px;
    background-image: url('../img/600-header.webp');
  }

  .header__sub.descr {
    font-size: 30px;
    line-height: 35px;
  }

  .header__sub.min-sub {
    width: 50%;
  }
}

@media (max-width: 575px) {
  body {
    max-width: 575px;
  }

  .meet__pic.meet__pic--1 {
    display: none;
  }

  .meet__pic.meet__pic--3 {
    left: 10px;
  }

  h3.form-section__title {
    width: 50%;
    font-size: 22px;
    line-height: 30px; 
  }

  p.cite__sub,
  .part-3 p.cite__sub {
    font-size: 24px;
    line-height: 22px;
  }

  h2.section-work__title-work,
  p.section-members__sub,
  h3.section-meet__title {
    font-size: 24px;
    line-height: 30px;
  }

  li.section-members__item {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  html body {
    max-width: 480px;
    background-image: url('../img/480-header.webp');
  }

  div.container {
    padding: 0 15px 0 15px;
  }

  .header div.container {
    margin-bottom: 50px;
    padding-top: 175px;
  }

  .header__sub.min-sub {
    width: 100%;
  }

  button.header__btn.main-btn {
    line-height: 16px;
  }

  .main div.container, .section-work div.container {
    padding-top: 0px;
  }

  h1.main__title {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 30px;
  }

  ol.main__list {
    margin-bottom: 50px;
    font-size: 17px;
    line-height: 22px;
  }

  button.section-work__btn.how-work {
    display: block;
    margin: 0 auto;
  }

  button.min-btn {
    line-height: 16px;
  }

  h2.section-work__title-work {
    text-align: center;
  }

  .section-work__sub:last-of-type {
    text-align: right;
  }

  .section-work__pic {
    align-self: center;
  }

  h2.section-work__title-work,
  button.section-work__btn.how-work {
    margin-bottom: 20px;
  }

  .section-work__img {
    margin-top: 40px;
    width: 369px;
    height: 405px;
  }

  figure.figure {
    margin-bottom: 50px;
  }

  figcaption.figcap {
    margin-bottom: 20px;
  }

  .section-members__list {
    display: flex;
    flex-direction: column;
  }

  li.section-members__item {
    font-size: 15px;
    line-height: 22px;
  }

  p.section-members__sub {
    padding-top: 42px;
    margin-bottom: 20px;
  }

  .part-2__article h3.article__title {
    padding-top: 52px;
  }

  h3.article__title {
    padding-top: 52px;
    font-size: 20px;
    line-height: 30px;
  }

  .article:nth-of-type(2) {
    padding-top: 0;
  }

  article.article:last-of-type {
    background: none;
    min-height: 1rem;
  }

  div.part-3 {
    padding-top: 20px;
  }

  .part-3 p.cite__sub {
    line-height: 25px;
  }

  .section-meet div.container {
    padding-top: 10px;
    min-height: 55rem;
  }

  div.section-meet__about {
    padding-top: 0;
  }

  .meet__pic.meet__pic--2 {
    right: 10px;
  }

  .meet__pic.meet__pic--3 {
    left: 3px;
  }

  .form-section div.container {
    padding: 46px 0 16px 15px;
    background-image: url('../img/480-the_boy.png');
  }

  h3.form-section__title {
    width: 100%;
  }

  .form-section__email {
    width: 200px;
  }

  div.footer__content:not(:nth-of-type(2n)) {
    margin-right: 20px;
  }

  div.footer-links {
    padding-top: 0;
  }

  .footer__title {
    border-bottom: none;
    text-decoration: underline;
  }

  ul.footer-links__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  li.footer-links__item:not(:last-child) {
    margin-bottom: 20px;
  }

  div.footer__info {
    width: 85%;
  }

  ul.footer-secure__list {
    margin-right: 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 320px) {
  body {
    max-width: 320px;
    background-image: url('../img/320-header.webp');
  }

  .section-work__img {
    width: 240px;
    height: 263px;
  }

  .meet__pic--3  {
    width: 239px;
  }

  .section-meet div.container {
    min-height: 60rem;
  }
}